body,
html {
  //   width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/image/anhnen.jpg") no-repeat center center fixed;
  /* Optional: Background color */
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.wrapper {
  width: 42rem;
  background-color: #6482ad;
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  height: 29rem;
  border: 0.75rem solid #7fa1c3;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.input-box input {
  width: 98%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
}

.wrapper .input-box .input-form {
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.wrapper .input-box .input-form::placeholder {
  color: #000000;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #435585;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 10px 0;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.wrapper .login-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.wrapper .login-div .login-button {
  width: 30%;
  border: none;
}

.wrapper .login-div .login-button:hover {
  font-size: 20px;
  font-weight: bold;
  color: #27374d;
  width: 35%;
  background-color: #d1e9f6;
}

.wrapper .forgot-div {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.wrapper .forgot-div .forgot-check-button {
  width: 40%;
  border: none;
  background-color: #cadabf;
  color: #5f6f65;
}

.wrapper .forgot-div .forgot-check-button:hover {
  background-color: #173b45;
  color: #ffffff;
  font-weight: bold;
}

.wrapper .forgot-div .forgot-cancel-button {
  width: 40%;
  border: none;
  background-color: #a94438;
  color: #ffffff;
}

.wrapper .forgot-div .forgot-cancel-button:hover {
  background-color: #fff5e0;
  color: #a94438;
}

.forgotPage .wrapper {
  height: 20rem;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 15px 0;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.box-search {
  position: relative;
  width: 200px;
}

.box-search input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  /* Padding to leave space for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-search .searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
}
